@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --main:rgb(12, 12, 12);
    --second: rgb(44, 187, 235);
    --third: rgb(252, 185, 15);
    --use: white;
    --use2: rgb(144, 144, 144);
}

html::-webkit-scrollbar{
  width: 3px;
  }
  html::-webkit-scrollbar-thumb{
  background: var(--use2);
  }
  html::-webkit-scrollbar-track{
  background: var(--third);
  }

   
   @keyframes anim-log {
    0%{transform: rotate(0deg); opacity: 1; transform: scale(1.1);}
    50%{transform: rotate(3deg); opacity: 0.3; transform: scale(0.9);}
    100%{transform: rotate(-3deg); opacity: 1; transform: scale(1.1);}
   }
/* animation section */

  @keyframes slideText {
    0% {
      transform: translateX(100%); /* Start position: move text to the right */
    }
    100% {
      transform: translateX(-100%); /* End position: move text to the left */
      opacity: 0.5;
    }
  }

/* ============================================ */





/*  FOR SCREEN LIKE PHONES , TABLET */
@media screen and (max-width: 970px) {
    





/* NAVIGATION MENU */

.menu-bar{

display: none;

}
#button-menu{
  display: none;
}

#navigation-bar-phone{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: fixed;
  padding: 3%;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-top: solid var(--second) 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'Montserrat';
  transition: all 0.40s;
  z-index: 99;
}

#navigation-bar-phone .menu-principal{
background-color: var(--second);
padding: 30px;
padding: 20px;
width: 15%;
border-radius: 10px;

}
#navigation-bar-phone .menu-principal a{
color: white;
font-family: 'Montserrat';
text-decoration: none;
}
#navigation-bar-phone .menu-principal i{
color: white;
font-weight: bold;

}


#navigation-bar-phone #phone-nav{
display: flex;
flex-direction: column-reverse;
padding: 5px;
margin: 1%;
font-size: 80%;
transition: all 0.50s;
}

#navigation-bar-phone #phone-nav:hover{
transform: scale(1.1);
}

#navigation-bar-phone .ph a{
color: var(--second);
text-decoration: none;
}
#navigation-bar-phone .ph i{
color: var(--third);
font-weight: bold;
}







/* ======================================================================================================= */
/* ======================================================================================================= */
/* ======================================================================================================= */
       









   /* ==================== FOOTER ==================== */



footer{
  font-family: 'Montserrat';
  background-color: rgb(239, 239, 212);
  width: 100%;
  margin-top: 50px;
  position: absolute;
  bottom: auto;
  padding-bottom: 60px;
}
footer h4{
  color: var(--second);
  font-size: 15px;
}

.down-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: solid rgb(50, 50, 50) 1px;
  margin: 20px;
}
.down-A a{
  text-decoration: none;
  padding-right: 5px;
  border-right: solid gray 1px;
  color: rgb(19, 19, 19);
}
.down-A a:hover{
  color: var(--second);
}

#footer-content{
  display: block;
}
#footer-content .content{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
#logo-company{
  display: none;
}

.content #company #link-company{
display: flex;
flex-direction: column;
}
.content #company #link-company a{
text-decoration: none;
color: gray;
}
.content #company #link-company a:hover{
color: var(--second);
}


#footer-content .service{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.service #services-given{
width: 40%;
}

#services-list #link-company{
  display: flex;
  flex-direction: column;
}
#services-list #link-company a{
  text-decoration: none;
  color: gray;
}
#services-list #link-company a:hover{
  color: var(--second);
}




/* =================================================== */






}





/* FOR SCREEN  LIKE COMPUTERS  */


@media screen and (min-width: 971px) {
  






/* NAVIGATION MENU */


#navigation-bar-phone{

display: none;
}

.navbar{
  
  min-height: 20px;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}
#button-menu{
  display: none;
}

.menu-bar{
display: flex;
justify-content: space-around;
width: fit-content;
position: fixed;
text-align: center;
top: 3vh;
right: 5vh;
border-radius: 30px;
border-top-right-radius: solid rgba(0, 0, 0, 0.188) 1px;
z-index: 1001;
}
.menu-bar a{

text-decoration: none;
}
.menu-bar a:hover ul li i{
border:  solid var(--second) 2px;
border-radius: 50%;
padding: 15px;
margin-top: 2px;
transform: scale(0.7);
transform-origin: top;
display: inline-block;
}
.menu-bar a:hover ul li{
color: var(--second);
transform: scale(0.9);
}
.menu-bar a ul li i{
color: rgba(234, 233, 226, 0.844);
transition: all 1s;
display: none;
}

.menu-bar a ul{
display: flex;
flex-direction: column-reverse;
}
.menu-bar a ul li{
font-size: 18px;
transition: all 0.50s;
color: white;
font-family: "Lato", sans-serif;
list-style: none;
}










/* ======================================================================================================= */
/* ======================================================================================================= */
/* ======================================================================================================= */
       












/* ==================== FOOTER ==================== */



footer{
  font-family: 'Montserrat';
  background-color: rgb(239, 239, 212);
  width: 100%;
  margin-top: 50px;
  position: absolute;
  bottom: auto;
}
footer h4{
  color: var(--second);
}

.down-content{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: solid rgb(50, 50, 50) 1px;
  margin: 20px;
}
.down-A a{
  text-decoration: none;
  padding-right: 5px;
  border-right: solid gray 1px;
  color: rgb(19, 19, 19);
}
.down-A a:hover{
  color: var(--second);
}

#footer-content{
  display: flex;
}
#footer-content .content{
  padding: 10px;
  border-right: solid gray 1px;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.content #company #link-company{
display: flex;
flex-direction: column;
}
.content #company #link-company a{
text-decoration: none;
color: gray;
}
.content #company #link-company a:hover{
color: var(--second);
}


#footer-content .service{
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.service #services-given{
width: 40%;
}

#services-list #link-company{
  display: flex;
  flex-direction: column;
}
#services-list #link-company a{
  text-decoration: none;
  color: gray;
}
#services-list #link-company a:hover{
  color: var(--second);
}




/* =================================================== */




}