<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/KIVU-BUSINESS/outil/javascript/chart.js"></script>
    <script src="/KIVU-BUSINESS/outil/external/bootstrap.bundle.js"></script>
    <script src="/KIVU-BUSINESS/outil/javascript/comon1.js"></script>


    
    <link rel="stylesheet" href="/KIVU-BUSINESS/outil/external/bootstrap.css">
    <link href='/KIVU-BUSINESS/node_modules/boxicons/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/KIVU-BUSINESS/outil/css/style.css">
    <link rel="stylesheet" href="/KIVU-BUSINESS/outil/css/home.css">


</head>
<body>



  <nav class="navbar navbar-expand-lg navbar-dark" id="navbar-main" style="background-color: black;">
    <a class="navbar-brand" href="#">
      <img src="/KIVU-BUSINESS/outil/images/logo3.png" alt="Bootstrap" width="140" height="145">
    </a>
    <button class="navbar-toggler" type="button" id="button-menu" >
      <span class="navbar-toggler-icon" id="icon-m"></span>
    </button>
  </nav>

  <section class="menu-bar" id="menu-bar">
    <a href="">
      <ul>
        <li><i class='bx bxs-institution'></i></li>
        <li>Imobilier</li>
      </ul>
    </a>
    <a href="">
      <ul>
        <li><i class='bx bxs-fridge'></i></li>
        <li>Meuble</li>
      </ul>
    </a>
    <a href="">
      <ul>
        <li><i class='bx bx-tv'></i></li>
        <li>Apareille</li>
      </ul>
    </a>
    <a href="">
      <ul>
        <li><i class='bx bx-car'></i></li>
        <li>Automobile</li>
      </ul>
    </a>
    <a href="">
      <ul>
        <li><i class='bx bx-diamond' style='color: orange;' ></i></li>
        <li>Pricing</li>
      </ul>
    </a>
    <a href="">
      <ul>
        <li><i class='bx bx-planet'></i></li>
        <li>Atom tech</li>
      </ul>
    </a>

  </section>


<nav id="navigation-bar-phone">

<div id="phone-nav" class="ph">
  <a href="">Imobilier</a>
  <i class='bx bxs-institution'></i>
</div>
<div id="phone-nav" class="ph">
  <a href="">meuble</a>
  <i class='bx bxs-fridge'></i>
</div>
<div id="phone-nav" class="menu-principal">
  <a href="">Menu</a>
  <i class='bx bx-plus'></i>
</div>
<div id="phone-nav" class="ph">
  <a href="">Apareille</a>
  <i class='bx bx-tv'></i>
</div>
<div id="phone-nav" class="ph">
  <a href="">Auto</a>
  <i class='bx bx-car'></i>
</div>


</nav>











<section class="main-intro">


     <center>
      <h3>Discover Learn Enjoy</h3>
      <p>platform for creatives around the world</p>
      <div class="search-data">
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Design, code , mar...">
        <button class="btn btn-info">search</button>
      </div>
     </center>




</section>

































<section id="resultat-produit">

<div id="apart-filtre-et-addition">
  <a href="" id="item-x">
    <p class="bx bx-building"></p>
    <p>Immeuble </p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-chair"></p>
    <p>Mobilier </p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-desktop"></p>
    <p>Électronique</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-home"></p>
    <p>Maison</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-map"></p>
    <p>Parcelle</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-car"></p>
    <p>Voiture</p>
    <span>250 articles</span>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-color"></p>
    <p>Vélo</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-book"></p>
    <p>Livres</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-briefcase"></p>
    <p>Articles de bureau</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
  <a href="">
    <p class="bx bx-gift"></p>
    <p>Cadeaux</p>
    <p>250 articles</p>
    <p class='bx bx-chevron-right'></p>
  </a>
  
</div>

<div id="item-resultat">

  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
  
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>
<a href="" class="product-item">
<span>Diament</span> 
<img src="/KIVU-BUSINESS/outil/images/IMG-20240326-WA0001.jpg" alt="Product Image" loading="lazy">
<h5 class="product-title">Product Title</h5>
<p class="product-price">UGX 12,000</p> 
</a>


</div>
      
  
</section>




<section class="our-work">

<h2><span id="one-our">WE MAKE</span><span id="two-our"> DREAMS COME TRUE</span></h2>

<div class="images-our-work">
  <img src="/KIVU-BUSINESS/outil/images/images/topics/undraw_Compose_music_re_wpiw.png" loading="lazy" id="img-our-work-1">
  <img src="/KIVU-BUSINESS/outil/images/images/topics/undraw_happy_music_g6wc.png" loading="lazy" id="img-our-work-2">
  <img src="/KIVU-BUSINESS/outil/images/images/topics/undraw_Podcast_audience_re_4i5q.png"  loading="lazy" id="img-our-work-3">
</div>
<div class="our-work-text">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nulla hic voluptates, id dolores sunt cupiditate sed excepturi inventore. Dicta asperiores itaque consequuntur accusantium a quis aperiam voluptates nam aliquam!</p>
</div>


</section>














<section class="notre-travaille-et-temoignage-et-collaboratuer">


  <div class="container">


<div class="testimony">

  <div id="testi" class="t-1">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png" loading="lazy">
     
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bx-star' style='color:gray' ></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <i class='bx bxl-google' style='color:#e13a0d' ></i>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem </p>
  </div>
    </div>

  </div>

  <div id="testi" class="t-2">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png" loading="lazy">
     
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star-half' style='color:yellow' ></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <i class='bx bxl-facebook' style='color:#0d99e1' ></i>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem architecto error voluptas neque quis assumenda</p>
  </div>
    </div>

  </div>

  <div id="testi" class="t-3">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png" loading="lazy">
     
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bx-star' style='color:gray'></i>
      <i class='bx bx-star' style='color:gray' ></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <i class='bx bxl-linkedin-square' style='color:#0d99e1'  ></i>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem architecto error voluptas neque quis assumenda</p>
  </div>
    </div>

  </div>

  <div id="testi" class="t-4">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png" loading="lazy">
     
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star-half' style='color:yellow' ></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <i class='bx bxl-google' style='color:#e13a0d' ></i>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem architecto error voluptas neque quis assumenda,</p>
  </div>
    </div>

  </div>

  <div id="testi" class="t-5">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png" loading="lazy">
     
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bx-star' style='color:gray'></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <i class='bx bxl-twitter' style='color:#0d99e1' ></i>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem architecto error voluptas neque quis assumenda</p>
  </div>
    </div>

  </div>

  <div id="testi" class="t-6">

    <div class="img-container">
      <img src="/KIVU-BUSINESS/outil/images/images/topics/web design.png">
    </div>
    <div id="start">
      <div id="start-all">
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star' style='color:yellow'></i>
      <i class='bx bxs-star-half' style='color:yellow' ></i>
    </div>
    <div>
  <p id="name-test">David</p>
  <p id="text-testi">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, id? Cum dolorem architecto error voluptas neque quis assumenda</p>
  </div>
    </div>

  </div>



</div>




    <center id="colaboration">
      <h4>Our Colaborations</h4>
    </center>
    <div class="row mt-5">
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/gdp.png" alt="Company 1 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/logo.png" alt="Company 2 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/logos-DGI.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/logo3.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/microsoft.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/un2.jpeg" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/comptia.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/cisco.jpeg" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/heroku.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/uganda.jpeg" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/congo.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/fecofa.jpeg" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/makerere.jpeg" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/unikin.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/codecademy.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/drone.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
      <div class="col text-center mb-4">
        <img src="/KIVU-BUSINESS/outil/images/logos/ali.png" alt="Company 3 Logo" class="company-logo" style="border-radius: 5%;" loading="lazy">
      </div>
    </div>
  </div>






</section>


















<footer>


  <section id="footer-content">

<div class="content">

<div id="logo-company">
  <img src="/KIVU-BUSINESS/outil/images/logo3.png" style="width: 100px; height:auto; border-radius: 10px;">
</div>
<div id="company">
  <h4>Company</h4>
  <div id="link-company">
    <a href="">About</a>
    <a href="">Careers</a>
    <a href="">Products</a>
    <a href="">Countries</a>
  </div>
</div>

<div id="company">
  <h4>Immeuble & mobilier</h4>
  <div id="link-company">
    <a href="">Parcelle</a>
    <a href="">Maison</a>
    <a href="">Maison a louer</a>
    <a href="">Vila</a>
    <a href="">salon</a>
    <a href="">Quisine</a>
    <a href="">Bureau</a>
    <a href="">Sport</a>
   
  </div>
</div>



</div>


<div class="service">

<section id="services-given">

  <div id="services-list">
    <h4>Appareille</h4>
    <div id="link-company">
      <a href="">Laptops</a>
      <a href="">Telephone</a>
      <a href="">accessoir</a>
      <a href="">Camera</a>
      <a href="">Drone</a>
      <a href="">Appareille de Reseaux</a>
      <a href="">PC</a>
      <a href="">Routeur</a>
      <a href="">Switch</a>
    </div>
  </div>

</section>

<section id="services-given">

  <div id="services-list">
    <h4>Auto</h4>
    <div id="link-company">
      <a href="">Voiture</a>
      <a href="">Bus</a>
      <a href="">Moto</a>
      <a href="">Velo</a>
      <a href="">Piece detacher</a>
      <a href="">Europe </a>
      <a href="">Amerique</a>

    </div>
  </div>

</section>


</div>

</section>

<div class="down-content">

<div class="down-A">
<a href="">Privacy Policy</a>
<a href="">Cookie Policy</a>
<a href="">Do Not Sell My Personal Information</a>
<a href="">Terms</a>
</div>

<div class="down-B">
<p style="color:red">Made with ATOM TECH ♥</p>
</div>

</div>
</footer>














<script>
  
</script>
</body>
</html>